<!DOCTYPE html>
<html>
<head>
  <title>profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="app-content container">
		<%= yield %>
	</div>
</body>
</html>
